<%- layout("./layouts/boilerplate") %>
<body>
    <h1><%= listing.title %></h1>
    <p><%= listing.description %></p>
    <p>Price: $<%= listing.price %></p>
    <p>Location: <%= listing.location %></p>

    <form method="GET" action="/listings/<%= listing._id%>/edit">
        <button type="submit">Edit the Listing</button>
    </form>
    <form method="POST" action="/listings/<%= listing._id%>?_method=DELETE">
        <button type="submit">Delete the Listing</button>
    </form>
</body>
