<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Listings</title>
</head>
<body>
    <h1><%= listing.title %></h1>
    <p><%= listing.description %></p>
    <p>Price: $<%= listing.price %></p>
    <p>Location: <%= listing.location %></p>

    <form method="GET" action="/listings/<%= listing._id%>/edit">
        <button type="submit">Edit the Listing</button>
    </form>
</body>
</html>